<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="background-dark">
    <div class="diagonal-rectangle"></div>
    <h1 class="white-text">
        <p class="first-letter-yellow">THUNDER</p> 
        <p class="first-letter-yellow">NUT</p> 
        <p class="first-letter-yellow">STUDIOS</p> 
    </h1>
    <div class="white-text">
        <p class="first-letter-yellow">
            This is a simple Flask website.
        </p>
        <a href="/info">Go to Info Page</a>
        <br>
        <a href="/contact">Go to Contact Page</a>
        <br>
        <a href="/social">Go to Social Page</a>
        <br>
        <a href="/news">Go to News Page</a>
    </div>
    
</body>

</html>