<div class="bg-zinc-900 h-[80px] w-full">

    <a href="/" class="block">
        <div class="justify-center items-center">
            <div class="h-[100px] w-[110px] px-2 py-1 cursor-pointer">
                <div class="text-white font-sans text-base">
                    <p class="first-letter:text-yellow-500">THUNDER</p>
                    <p class="first-letter:text-yellow-500">NUT</p>
                    <p class="first-letter:text-yellow-500">STUDIOS</p>
                </div>
            </div>
        </div>
    </a>

    <div class="text-white text-3xl text-center -translate-y-full py-10">
        <a href="/" class="hover:text-yellow-500">home</a>
        <a href="/info" class="hover:text-yellow-500">info</a>
        <a href="/contact" class="hover:text-yellow-500">contact</a>
        <a href="/social" class="hover:text-yellow-500">social</a>
        <a href="/news" class="hover:text-yellow-500">news</a>
    </div>

    <div class="relative">
        <i class="absolute bottom-28 right-5 py-10">
            <div class="flex">
                <a href="https://www.discord.com">
                    <div
                        class="bg-[url('../images/icons8-discord-48.svg')] h-[48px] w-[48px] bg-no-repeat bg-cover hover:bg-yellow-500">
                    </div>
                </a>
                <a href="https://twitter.com/ThunderNutSTD">
                    <div
                        class="bg-[url('../images/icons8-twitter-48.svg')] h-[48px] w-[48px] bg-no-repeat bg-cover hover:bg-yellow-500">
                    </div>
                </a>
                <a href="https://www.youtube.com/@thundernutstudios/featured">
                    <div
                        class="bg-[url('../images/icons8-youtube-logo-32.svg')] h-[48px] w-[48px] bg-no-repeat bg-cover hover:bg-yellow-500">
                    </div>
                </a>
            </div>
        </i>
    </div>


</div>